/* line 3, ../compass/sass/app.scss */
body .panel {
  overflow: hidden;
}
/* line 6, ../compass/sass/app.scss */
body .recherche-client {
  border: 1px solid #eee;
  height: 25px;
  font-size: 12px;
  border-radius: 5px;
  outline: none;
}
/* line 14, ../compass/sass/app.scss */
body .position li {
  display: inline;
}
