{% extends '::layout.html.twig' %}

	{%block title%}
	   DDC         
	{%endblock title%}
	{%block titre%}
        DDC
    {%endblock titre%}

    {%block position %}
    	<li class="active">
    		<i class="fa fa-angle-right"></i>
    		<i class="fa fa-book"></i>
            <a href="{{url('trcddc_homepage')}}">
            	DDC
            </a>
        </li>
        
    {%endblock position%}
   
   {%block content %}
   {%endblock content %}