{%extends 'TRCClientBundle::Default/consulter.html.twig'%}
{%block title%}
	Identité || 
	 {{parent()}}         
{%endblock title%}
{%block titre%}
   Ajout d'identité
{%endblock titre%}
{%block position %}
	{{parent()}}
    	<li class="active">
    		<i class="fa fa-angle-right"></i>
    		<i class="fa fa-user"></i>
            <a href="#">
            	Identité
            </a>
        </li>
        
{%endblock position%}
{%block content %}
	{{form(form)}}
{%endblock content %}