{% extends 'TRCDDCBundle::ddc.html.twig' %}
{%block titre%}
	Choisir le client du dossier #DDC     
{%endblock titre%}
{%block position %}
	{{parent()}}
    	<li class="active">
    		<i class="fa fa-angle-right"></i>
    		<i class="fa fa-book"></i>
            <a href="#">
            	{{ddc.rs}}
            </a>
        </li>
        
    {%endblock position%}
   
{%block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<form>
				<input lien="{{url('trcddc_get_client_ajax')}} " type="text" class="form-control" placeholder="Le radical du client" id="radical">
			</form>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel-default panel">
				<div class="panel-heading">
					Les clients
				</div>
				<form method="post">
					<div class="panel-body">
						<div id="clients">
				
						</div>
					</div>
					<div class="panel-footer">
						<button class="btn btn-default" type="submit">
							Associer
						</button>
					</div>
				</form>
				
			</div>
		</div>
	</div>
{%endblock content %}
{%block script %}
	<script type="text/javascript">
		(function(){
			$('#radical').keyup(function(event){
				var that = $(this);
				var radical = that.val()
				if(radical.length > 0 ){
					$.post(that.attr('lien'),{radical:radical},function(data){
						$('#clients').html('');
						for (var i = 0; i < data.clients.length; i++) {
							var client = data.clients[i];
							var input = $('<input required="required" type="radio" name="radical" value="'+client.radical+'" id="'+client.radical+'">');
							var label = $('<label for="'+client.radical+'">'+client.intitule+'<label>');
							label.prepend(input);
							var div = $('<div class="col-md-4"></div>');
							div.html(label);
							$('#clients').append(div);
						}
					});
				}
			});
		})();
	</script>
{%endblock script %}