{%extends '::layout.html.twig'%}
	{%block title%}
	   Utilisateurs         
	{%endblock title%}
	{%block titre%}
        Utilisateurs
    {%endblock titre%}

    {%block position %}
    	<li class="active">
    		<i class="fa fa-angle-right"></i>
    		<i class="fa fa-users"></i>
            <a href="{{url('trc_admin_utilisateurs')}}">
            	Utilisateurs
            </a>
        </li>
        
    {%endblock position%}
   
   {%block content %}
   	<div class="col-lg-9 col-md-9">
	   	<div class="panel">
	   		{%block main %}
	   		main
	   		{%endblock main %}
	   	</div>
   	</div>        
   	<div class="col-lg-3 col-md-3">
   		{%block menuUtilisateurs %}
   			<div class="panel-">
   				<ul class="list-group">
   					<li class="list-group-item">
   						<a href="{{url('trc_admin_utilisateurs_ajouter')}}">
   							<i class="fa fa-plus-circle"></i>
   							Ajouter
   						</a>
   					</li>
   					<li class="list-group-item">
   						<a href="# ">
   							<i class="fa fa-plus-circle"></i>
   							un lien
   						</a>
   					</li>
   				</ul>
   			</div>
   		{%endblock menuUtilisateurs %}
   	</div>        
   {%endblock%}
{%block script%}
<script type="text/javascript">
	(function(){
		$('#side-menu li').removeClass('active');
		$('#side-menu li.utilisateurs').addClass('active');
	})();
</script>
{%endblock script%}
    