<div id="edp">
	<div class="bann">
		<div class="titre">
			<div class="d">
				<span class="b">E</span>space <span class="b">D</span>e <span class="b">P</span>artage
			</div>
			<p class="description"> 
			</p>	
		</div>
		<div class="liens">
			<a class="noti-modal" data-toggle="modal" data-target=".modal-general" href="#" link="{{url('trc_core_resume_ddc',{id:ddc.id})}}">
        Voir resume
    </a>
		</div>
	</div>
	<div class="edp-body">
		
	</div>
	<div class="edp-footer">
		
	</div>
</div>