<nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;"
                data-position="right" class="navbar-default navbar-static-side">
            <div class="sidebar-collapse menu-scroll">
                <ul id="side-menu" class="nav">
                    
                     <div class="clearfix"></div>
                    <li class="">
                        <a href="{{url('trc_core_homepage')}} ">
                            <i class="fa fa-tachometer fa-fw">
                                <div class="icon-bg bg-orange"></div>
                            </i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>

                    {%if is_granted('ROLE_ADMIN')%}
                        <li class="utilisateurs">
                            <a href="{{url('trc_admin_utilisateurs')}}">
                                <i class="fa fa-users fa-fw">
                                    <div class="icon-bg bg-pink"></div>
                                </i>
                                <span class="menu-title">Utilisateurs</span>
                            </a>
                           
                        </li>
                        <li class="entites">
                            <a href="{{url('trc_admin_entites')}}">
                                <i class="fa fa-cubes fa-fw">
                                    <div class="icon-bg bg-pink"></div>
                                </i>
                                <span class="menu-title">Entités</span>
                            </a>
                           
                        </li>

                    {%endif%}
                        <li class="clients">
                            <a href="{{url('trc_client_homepage')}}">
                                <i class="fa fa-money fa-fw">
                                    <div class="icon-bg bg-pink"></div>
                                </i>
                                <span class="menu-title">Clients</span>
                            </a>
                           
                        </li>
                </ul>
            </div>
        </nav>